<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='vendor/bootstrap/css/bootstrap.css'>
</head>

<body>

    <button type="button" onclick='location.href="matching/write"'>글쓰기</button>
    <select id='search_key' name='key'>
        <option>선택</option>
        <option value='writer'>작성자</option>
        <option value='title'>제목</option>
        <option value='area'>지역</option>
        <option value='stadium'>경기장</option>
        <option value='date'>날짜</option>
        <option value='time'>시간</option>
        <option value='person'>인원수</option>
        <option value='age'>나이</option>
        <option value='level'>실력</option>
    </select>
    <input type='text' id='search_word' placeholder="search_word">
    <input type='text' id='search_word2' placeholder='search_word2' style="display: none">
    <input type='text' id='search_word3' placeholder='search_word3' style="display: none">
    <div id='tableArea'>
        <table class='table table-bordered table-hover'>
            <thead>
                <tr>
                    <th>게시물번호</th>
                    <th>작성자</th>
                    <th>제목</th>
                    <th colspan="2">장소</th>
                    <th colspan="3">날짜</th>
                    <th>시작시간</th>
                    <th>종료시간</th>
                    <th>인원수</th>
                    <th>연령대</th>
                    <th>수준</th>
                    <th>회비</th>
                </tr>
            </thead>
            <tbody>
                <%for(var i = 0; i < list.length; i++){%>
                <tr>
                    <td><%=list[i].no%></td>
                    <td><%=list[i].writer%></td>
                    <td><%=list[i].title%></td>
                    <td><%=list[i].area%></td>
                    <td><%=list[i].stadium%></td>
                    <td><%=list[i].year%></td>
                    <td><%=list[i].month%></td>
                    <td><%=list[i].day%></td>
                    <td><%=list[i].time_from%></td>
                    <td><%=list[i].time_to%></td>
                    <td><%=list[i].person%></td>
                    <td><%=list[i].age%></td>
                    <td><%=list[i].level%></td>
                    <td><%=list[i].due%></td>
                </tr>
                <%}%>
        </tbody>
</table>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
    function onClickEventForTable() {
        $.each($('tr'), function (idx, item) {
            if (idx === 0) return true
            $(this).on('click', function () {
                var board_no = $(this).children('td:first').text()
                location.href = '/matching/get?no=' + board_no
            })
        })
    }
    $('#search_key').change(function () {
        var var1 = $(this).val()

        if (var1 === 'time') {
            $('#search_word2').show()
            $('#search_word3').hide()
        } else if (var1 === 'date') {
            $('#search_word2').show()
            $('#search_word3').show()
        } else {
            $('#search_word2').hide()
            $('#search_word3').hide()
        }
    })
    $('input[type=text]').on('keyup', function () {
        var var1 = $('#search_word').val()
        var var2 = $('#search_key').val()
        var var3 = $('#search_word2').val()
        var var4 = $('#search_word3').val()
        $.ajax({
            url: '/matching/search',
            type: 'post',
            data: { key: var2, value: var1, value2: var3, value3: var4 },
            dataType: 'json',
            success: function (result) {
                var html = ''
                $('#tableArea').children().remove()
                html += `<table class='table table-bordered table-hover'>`
                html += `<tr>
                <th>게시물번호</th>
                <th>작성자</th>
                <th>제목</th>
                <th colspan="2">장소</th>
                <th colspan="3">날짜</th>
                <th>시작시간</th>
                <th>종료시간</th>
                <th>인원수</th>
                <th>연령대</th>
                <th>수준</th>
                <th>회비</th>
            </tr>`
                $.each(result, function (idx, item) {
                    html += `<tr><td>${item.no}</td>`
                    html += `<td>${item.writer}</td>`
                    html += `<td>${item.title}</td>`
                    html += `<td>${item.area}</td>`
                    html += `<td>${item.stadium}</td>`
                    html += `<td>${item.year}</td>`
                    html += `<td>${item.month}</td>`
                    html += `<td>${item.day}</td>`
                    html += `<td>${item.time_from}</td>`
                    html += `<td>${item.time_to}</td>`
                    html += `<td>${item.person}</td>`
                    html += `<td>${item.age}</td>`
                    html += `<td>${item.level}</td>`
                    html += `<td>${item.due}</td></tr>`
                })
                html += '</table>'
                $('#tableArea').append(html)
                onClickEventForTable()
            }
        })
    })
    onClickEventForTable()
</script>
</html>